name: Release
on:
  push:
    branches:
      - "!*"
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Install upx
        run: |-
          wget -q https://github.com/upx/upx/releases/download/v3.96/upx-3.96-amd64_linux.tar.xz
          tar -xf upx-3.96-amd64_linux.tar.xz
          sudo install upx-3.96-amd64_linux/upx /usr/bin/upx
          rm -rf upx*

      - name: Install goreleaser
        run: |-
          wget -q https://github.com/goreleaser/goreleaser/releases/download/v0.123.3/goreleaser_Linux_x86_64.tar.gz
          tar -xf goreleaser_Linux_x86_64.tar.gz
          sudo install goreleaser /usr/bin/goreleaser
          rm -rf goreleaser*

      - name: Build and publish release binaries
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make release
